.histogram-container {
  display: inline-block;
  width: 46.5%;
  margin: 2rem 0 0 01rem;
}

.histogramCard {
  display: flex;
  padding: 0.6rem 1rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.7rem;
  background-color: #efefef;
}

.histogramCard h1 {
  font-size: 0.8rem;
  font-weight: 600;
}
.histogramCard a {
  text-align: center;
  font-size: 0.6rem;
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}
.histogramCard-container {
  display: flex;
  gap: 1rem;
}
.histogramCard-container div h3 {
  font-weight: 400;
  font-size: 0.8rem;
}
.histogramCard-container div h2 {
  font-size: 0.8rem;
}
@media only screen and (min-width: 992px) {
  .histogram-container {
    width: 40.5%;
    margin: 1rem 0 0 01rem;
  }
  .histogramCard a{
    font-size: 0.8rem;
  }
  .histogramCard-container div h3 {
    
    font-size: 0.6rem;
  }
  .histogramCard-container div h2 {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 600px) {
  .histogram-container {
    width: 47.5%;
    margin: 1rem 0 0 0.5rem;
  }
  .histogramCard a{
    font-size: 0.8rem;
  }
  .histogramCard-container div h3 {
    font-size: 0.7rem;
  }
  .histogramCard-container div h2 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
    
  .histogram-container {
    width: 47%;
    margin: 1rem 0 0 0.5rem;
  }
  .histogramCard a{
    font-size: 0.8rem;
  }
  .histogramCard-container div h3 {
    font-size: 0.7rem;
  }
  .histogramCard-container div h2 {
    font-size: 0.8rem;
  }
}